@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        .card-box {
            position: relative;
            color: #fff;
            padding: 20px 10px 40px;
            margin: 20px 0px;
        }

            .card-box:hover {
                text-decoration: none;
                color: #f1f1f1;
            }

                .card-box:hover .icon i {
                    font-size: 100px;
                    transition: 1s;
                    -webkit-transition: 1s;
                }

            .card-box .inner {
                padding: 5px 10px 0 10px;
            }

            .card-box h3 {
                font-size: 27px;
                font-weight: bold;
                margin: 0 0 8px 0;
                white-space: nowrap;
                padding: 0;
                text-align: left;
            }

            .card-box p {
                font-size: 15px;
            }

            .card-box .icon {
                position: absolute;
                top: auto;
                bottom: 5px;
                right: 5px;
                z-index: 0;
                font-size: 72px;
                color: rgba(0, 0, 0, 0.15);
            }

            .card-box .card-box-footer {
                position: absolute;
                left: 0px;
                bottom: 0px;
                text-align: center;
                padding: 3px 0;
                color: rgba(255, 255, 255, 0.8);
                background: rgba(0, 0, 0, 0.1);
                width: 100%;
                text-decoration: none;
            }

            .card-box:hover .card-box-footer {
                background: rgba(0, 0, 0, 0.3);
            }

        .bg-blue {
            background-color: #00c0ef !important;
        }

        .bg-green {
            background-color: #00a65a !important;
        }

        .bg-orange {
            background-color: #f39c12 !important;
        }

        .bg-red {
            background-color: #d9534f !important;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 align="center">
            Öğrenci Bilgi Sistemi
        </h1>

        <p align="center lead">
            HOŞ GELDİNİZ! @ViewBag.OgrenciAdi @ViewBag.OgrenciSoyadi
        <p>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Bilgilendirme !</strong> 2023-2024 Güz Dönemi Döneminde ... Adet Onaylanmış ders kaydınız mevcut.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card-box bg-blue">
                            <div class="inner">
                                <h5> 2023-2024 Güz Dönemi </h5>
                                <p>
                                    Aktif Akademik Dönem Bilgileri
                                </p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="card-box bg-green">
                            <div class="inner">
                                <h6> @ViewBag.DanismanUnvan @ViewBag.DanismanAdi @ViewBag.DanismanSoyadi </h6>
                                <p> Danışman Bilgileri </p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-money" aria-hidden="true"></i>
                            </div>
                            <a href="#" class="card-box-footer">Detay <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card-box bg-orange">
                            <div class="inner">
                                <h5>
                                    Öğrenim Bilgileri
                                </h5>
                                <p>
                                        @ViewBag.BolumAdi
                                </p>
                                <p>
                                        @ViewBag.Sinif .Sınıf
                                </p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card-box bg-red">
                            <div class="inner">
                                <h5>
                                    Kayıt Tarihi: @ViewBag.KayitTarihi
                                </h5>
                                <p> AGNO: ... </p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-users"></i>
                            </div>
                            <a href="#" class="card-box-footer">Detay <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/perfect-scrollbar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
    <script src="js/next-sidebar.js"></script>


</body>
